{% extends "auctions/layout.html"%}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h3>{{ title }}</h3>
    <div>
        {% for category in categories %}
            <a href="/filter_categories/{{ category }}">
            <div class="categories">
                {{ category }}
            </div></a>
        {% endfor %}
        {% for product in products %}
            <div class="listings"> 
                <div>
                    <img class="index_img" src="{{product.image_url}}" alt="No Image">
                </div>
                <div class="index_listings_2">
                    <h2><a href="/listings/{{product.id}}">{{product.title}}</a></h2>
                    <div class="index_bid">
                        <p>Current Bid: <strong>${{ product.current_bid}}.00</strong></p>
                    </div>
                    <h6>Category:<a href="/filter_categories/{{ product.category }}">{{ product.category }}</a></h6>
                </div>
                <div>
                    <p>{{ product.description|safe }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}