{% extends "auctions/layout.html" %}

{% block body %}


    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="login_div">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <div class="login_text">
                <h2 style="text-align: center">Login</h2>
            </div>
            <div class="login_username">
                <input autocomplete="off" autofocus class="login_forms" type="text" name="username" placeholder="Username">
            </div>
            <div style="margin-bottom: 30px"> 
                <input class="login_forms" type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input class="login_register_button" type="submit" value="Login">
            </div>
    </form>
    <div id="login_register">
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
    </div>

{% endblock %}